@{
    ViewBag.Title = "PKMN Biomes";
}

<h2>PKMN Biomes</h2>
<p>A record of spawns on a single spawnpoint in Pokemon Go, as recorded when I happen to check the spawnpoint.</p>

<div class="row">
    <div class="table-responsive col-lg-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Species</th>
                    <th>Count</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Venonat</td>
                    <td>99</td>
                    <td>X%</td>
                </tr>
                <tr>
                    <td>Oddish</td>
                    <td>23</td>
                    <td>X%</td>
                </tr>
                <tr>
                    <td>Skitty</td>
                    <td>0</td>
                    <td>0%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6"></div>
</div>